.current_weather {
    border: black;
    border-style: dashed;
}

.five_day {
    border: black;
    border-style: dashed;   
}

.banner {
    margin-top: 5%;
    margin-bottom: 5%;
}

.city_form {
    margin-bottom: 30%;
}
